.node {
    fill: #f4b942;
    stroke: #fff;
    stroke-width: 2px;
}

.node.active {
    stroke: #4286f4;
    stroke-width: 5px;
}

.link {
    fill: none;
    stroke: rgba(0, 0, 0, 0.05);
    stroke-width: 1px;
}

.link.active {
    stroke: #777;
    stroke-width: 3px;
}

.link.inactive {
    stroke: rgba(0, 0, 0, 0.05);
    stroke-width: 1px;
}

.link-node {
    fill: #efefef;
}

.level-connector {
    fill: none;
    stroke: #ccf;
    stroke-width: 2px;
    stroke-dasharray: 0,2 1;   
}

.canvas-bg {
    fill: #fff;
}

#svg-frame {
    width: 100%;
    height: 800px;
    border: solid 1px #eee;
}

marker#program {
    fill: #777;
}

text {
    font: 14px sans-serif;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}