# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C/C++ extensions
*.so
*.out

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# dotenv
.env

# virtualenv
venv/
ENV/

# Project Specific
.DS_Store
_reading
*.ast
*.sublime-project
*.sublime-workspace
*output.json
*manifest.json
node_modules

src/visualize/package/graph.json
src/visualize/package/manifest.json
