.node {
    fill: #f4b942;
    stroke: #fff;
    stroke-width: 2px;
}

.node.active {
    stroke: #4286f4;
    stroke-width: 5px;
}

.link {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
}

.link-node {
    fill: #777;
}

.level-connector {
    fill: none;
    stroke: #ccf;
    stroke-width: 2px;
    stroke-dasharray: 0,2 1;   
}

marker#program {
    fill: #777;
}

text {
    font: 14px sans-serif;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}